* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #F6F6F6;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 35px;
    font-weight: 800;
}

h3 {
    position: absolute;
    display: inline;
    margin-left: 30px;
    font-weight: 900;
    color: white;
    font-size: 30px;
    padding: 7px 0 7px 0;
}

h5 {
    color: #607683;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

h6 {
    font-size: 13px;
    padding-bottom: 2px;
    font-weight: 100;
}

/*  NAVIGATION ON TOP  */

header {
    position: fixed;
    width: 100%;
    background-color:#6A828D;
    height: 60px;
    z-index: 1; /* Set z-index to bring it to the front */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    transition: top 0.4s ease-in-out;
    
  }
  
  header h3 {
    position: absolute;
    display: inline;
    margin-left: 30px;
    font-weight: 900;
    color: white;
    font-size: 30px;
    padding: 7px 0 7px 0;
  }
  
  header a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 60px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
  }
  
  header nav {
    padding: 6.5px 0px 6.5px 0px;
    display: flex;
    float: right;
    position: relative;
  }
  
  header a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

/*---------------------Main---------------------*/
.project-team {
    margin-top: 20px;
    color: #6A828D;
}

.title {
    height: 100px;
    width: 100%;
    background-color: #6A828D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    align-items: center;
    width: 650;
    height: 320px;
    flex-shrink: 0;
    margin: 40px;
}

.image-container {
    position: relative;
    background-color: #6A828D;
    width: 270px;
    height: 270px;
    border-radius: 1000px;
}

.role {
    color: #607683;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    margin-bottom: 30px;
}

.details {
    padding: 25px 15px;
    margin-bottom: 30px;
}

p {
    color: #607683;
    font-size: 20;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.information {
    width: 60%;
}

.information .links {
    float: left;
    margin-bottom: 25px;
}

.links a {
    padding: 0 10px 0 10px;
}

.image-1 {
    background-image: url('Images/ray.png');
    background-size: cover;
}

.image-2 {
    background-image: url('Images/ems.jpg');
    background-size: cover;
}

.image-3 {
    background-image: url('Images/.png');
    background-size: cover;
}

.image-4 {
    background-image: url('Images/.png');
    background-size: cover;
}

.image-5 {
    background-image: url('Images/.png');
    background-size: cover;
}

.box-cntainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.box-cntainer .box {
    display: flex;
    width: 1200px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #6A828D;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.30);
    padding: 40px;
}

.box-cntainer .box p {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

/*---------------------FOOTER---------------------*/
footer {
    display: flex;
    padding: 0 20% 0 20%;
    height: 150px;
    background-color: #607683;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
}

.footer-content {
    width: 100%;
}

.contact ul li {
    display: inline-flex;
}

#gmail {
    list-style: none;
}

.links {
    float: right;
    margin-top: -20px;
}

.links a {
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
}